
.container{
    flex-flow: row wrap;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
  
}
.card {
    width: 30%;
    
    box-shadow: 3px 7px 4px #888888;
    margin: auto;
    margin-top: 2.5em;
    padding: 1em;
    border-style: solid;
    border-color:black;
    
}
.availability {
    background-color: grey;
    color: yellow;
    width: 100%;
    border-style: solid;
    border-color:black;
    }
img {
    width: 80%;
    margin: auto;
    display: block



}

footer {
 border-style: solid;
 background-color: grey;
 border-color:black;

}
.productName {
 text-align: center;
 border: 1px solid black;
 background-color: grey;
 color: yellow;



}