
.container{
    flex-flow: row wrap;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    float: left;
}
.card {
    width: 30%;
    
    box-shadow: 3px 7px 4px #888888;
    margin: auto;
    margin-top: 2.5em;
    padding: 1em;
}
.availability {
    background-color: grey;
    color: yellow;
    width: 100%;
    }
img {
    width: 80%;
    margin: auto;
    display: block

}
.productName {
 text-align: center;
 border: 1px solid lightblue;



}